body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 2em;
}

p {
    margin: 0.625rem 0;
}

form {
    margin: auto;
    width: 80%;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}


.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px;
}

.card {
    width: 30%;
    margin-bottom: 30px;
}

.question {
    margin: 0.625rem 1.25rem;
}

.question__question {
    margin: 0.625rem 0;
    font-weight: bold;
}

.level {
    font-size: 0.8em;
}

.level--beginner {
    color: darkgreen;
}

.level--medium {
    color: darkgoldenrod;
}

.level--expert {
    color: darkred;
}

.question__info {
    font-style: italic;
    font-size: 0.8em;
}

.question__choices {
    margin: 0.625rem 0;
}

.btn {
    cursor: pointer;
    width: 100%;
}

.header-quiz {
    margin: 50px;
}